@model (string workflow, string theme)

@{
    Func<string, string> getClass = (string feature) => feature != null && feature.Equals(Model.workflow) ? "active" : "";
}
<div class="d-grid gap-2">
    <a class="btn btn-@Model.theme @getClass("Dashboard")" asp-page="Dashboard">
        Dashboard
    </a>
    
    <a class="btn btn-@Model.theme @getClass("Features")" asp-page="Features">
        Store Features
    </a>

    <a class="btn btn-success @getClass("List")" asp-page="View" asp-route-id="">
        List Users
    </a>

    <a class="btn btn-success @getClass("Create")" asp-page="Create">
        Create Account
    </a>

    <a class="btn btn-success @getClass("Delete")" asp-page="Delete">
        Delete Account
    </a>
    
    <a class="btn btn-success @getClass("Edit")" asp-page="Edit" asp-route-id="">
        Edit Users
    </a>
    
    <a class="btn btn-success @getClass("Passwords")" asp-page="Passwords" asp-route-id="">
        Passwords
    </a>

    <a class="btn btn-success @getClass("Lockouts")" asp-page="Lockouts">
        Lockouts
    </a>
</div>